@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@200..700&display=swap");

body {
  background-color: var(--color-black);
  min-width: 320px;
}

#app {
  width: 100%;
  max-width: 1710px;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--gap) * 200 / 24) 12px calc(var(--gap) * 300 / 24);
  box-sizing: border-box;

  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: calc(var(--gap) * 100 / 24);
  column-gap: var(--gap);

  margin: 0 auto;
}

.section {
  grid-column-start: 2;
  grid-column-end: 12;

  &__title {
    color: var(--color-white);
    font-size: var(--h1-font-size);
    font-weight: 400;
    line-height: 100%;
  }

  &__subtitle {
    color: var(--color-white);
    font-size: var(--text-font-size);
    font-weight: 400;
    line-height: 100%;
    opacity: 0.8;
  }
}

.card-title {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.card {
  background: var(--color-grey-200);
  border-radius: 20px;
  padding: 24px;
  box-sizing: border-box;

  &_placeholder {
    animation: card-blinking 1s linear 0s infinite alternate-reverse none;
  }
}

@keyframes card-blinking {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.icon-arrow {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: url("/icons/arrow.svg") no-repeat center / 24px 24px;
  outline: 1px solid
    color-mix(in srgb, var(--color-white) 10%, var(--color-white) 10%);
  outline-offset: -1px;
}

.text-spaced {
  letter-spacing: 0.1em;
}

.text-crossed {
  text-decoration: line-through;
  text-decoration-color: var(--color-red);
}

a {
  text-decoration: none;
}

@media (max-width: 1362.5px) {
  .section {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .icon-arrow {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 667.5px) {
  .icon-arrow {
    width: 40px;
    height: 40px;
  }
}
