:root {
  --color-black: #121213;
  --color-grey-200: #1f1f20;
  --color-grey-100: #575759;
  --color-white: #f1f1f4;
  --color-red: #e15e42;
  --color-yellow: #ffc700;
  --color-green: #15ad70;

  --gap: 24px;

  --h1-font-size: 60px;
  --text-font-size: 24px;
}

@media (max-width: 1362.5px) {
  :root {
    --text-font-size: 20px;
    --gap: 16px;
    --h1-font-size: 44px;
  }
}

@media (max-width: 667.5px) {
  :root {
    --text-font-size: 16px;
    --gap: 8px;
    --h1-font-size: max(
      24px,
      calc((100dvw - 12px - 12px - 8px * 4) / 5 - 48px)
    );
  }
}
