section.section
  div.hero
    div.hero__left
      div.hero__hi.card
        h1.section__title.hero__title Привет<br>я Ваня
        p.section__subtitle
          span Фулстек-разработчик на 
          span.text-crossed Java
          span TypeScript
      div.hero__education.card
        h2.card-title Образование
        div.hero__education-info
          p.section__subtitle.text-spaced ТГИК
          p.hero__education-text бизнес-информатика
    div.hero__age.card
      h2.card-title Возраст
    div.hero__city.card
      h2.card-title Город
    div.hero__photo.card.card_placeholder
      h2.card-title 
    div.hero__status.card
      h2.card-title Статус
      img.hero__status-img(src="/hero/status.webp" alt="#opentowork")
    div.hero__languages.card
      h2.card-title Языки
        div.hero__languages-chart
          div.hero__languages-col.hero__languages-col_ge
            p.hero__languages-text.hero__languages-text_ge Ge
          div.hero__languages-col.hero__languages-col_en
            p.hero__languages-text.hero__languages-text_en En
          div.hero__languages-col.hero__languages-col_ru
            p.hero__languages-text.hero__languages-text_ru Ru