.hero {
  display: grid;
  grid-auto-rows: 1fr;
  gap: var(--gap);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "left age age city"
    "left age age city"
    "left photo status city"
    "left photo languages city";

  &__left {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    grid-area: left;
  }

  &__hi {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
  }

  &__education {
    background: url("/hero/tgik.webp") no-repeat center / cover;
    outline: 8px solid var(--color-grey-200);
    outline-offset: -8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__education-info {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__education-text {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    opacity: 0.5;
  }

  &__age {
    grid-area: age;
    position: relative;
  }

  &__age-num {
    color: var(--color-white);
    font-size: min(
      calc(
        (
            (
                (100dvw - 12px - 12px - var(--gap) * 11) / 12 * 10 + var(--gap) *
                  9
              ) - var(--gap) * 3
          ) / 4 - 48px
      ),
      calc(
        (
            (
                (1710px - 12px - 12px - var(--gap) * 11) / 12 * 10 + var(--gap) *
                  9
              ) - var(--gap) * 3
          ) / 4 - 48px
      )
    );
    font-weight: 250;
    line-height: 100%;
    opacity: 0.2;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__city {
    grid-area: city;

    background: url("/hero/map.webp") no-repeat center / cover;
    outline: 8px solid var(--color-grey-200);
    outline-offset: -8px;
  }

  &__photo {
    grid-area: photo;
    aspect-ratio: 1 / 1;
    font-size: 0;
  }

  &__me {
    width: 100%;
    border-radius: 100%;
  }

  &__status {
    grid-area: status;
    position: relative;

  }

  &__status-img {
    height: calc(100% - 48px);
    position: absolute;
    top: 24px;
    right: 24px;
    animation: status-rotation 10s linear 0s infinite normal none;
  }

  @keyframes status-rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__languages {
    grid-area: languages;
    position: relative;
  }

  &__languages-chart {
    position: absolute;
    left: 24px;
    top: 24px;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    display: flex;
    align-items: flex-end;
  }

  &__languages-col {
    flex: 1;
    background: var(--color-grey-100);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_ge {
      height: calc(100% / 3);
      background: var(--color-red);
    }

    &_en {
      height: calc(100% / 3 * 2);
      background: var(--color-yellow);
    }

    &_ru {
      height: 100%;
      background: var(--color-green);
    }
  }

  &__languages-text {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;

    &_ge {
      opacity: 0.2;
    }
    &_en {
      opacity: 0.5;
    }
    &_ru {
      opacity: 0.8;
    }
  }
}

@media (max-width: 1362.5px) {
  .hero {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "left age age"
      "left age age"
      "left photo status"
      "left photo languages"
      "city city city"
      "city city city";

    &__age-num {
      font-size: calc((100dvw - 12px - 12px - var(--gap) * 2) / 3 - 48px);
    }
  }
}
@media (max-width: 667.5px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: unset;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "left left"
      "age age"
      "photo status"
      "languages languages"
      "city city";

    &__hi {
      aspect-ratio: 1 / 1;
    }

    &__age,
    &__languages,
    &__city {
      height: calc((100dvw - 12px - 12px - 8px) / 2);
    }

    &__age-num {
      font-size: calc((100dvw - 12px - 12px - 8px) / 2 - 48px);
    }
  }
}
