@import "tailwindcss";

:root {
  --color-black: #121213;
  --color-white: #F1F1F4;
}

@theme inline {}


body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: "Cascadia Code";
}