.footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap);

  &__link {
    aspect-ratio: 1 / 1;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 1000px 1000px transparent;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: inset 1000px 1000px var(--color-grey-100);

      & .footer__arrow {
        transform: rotate(45deg);
      }
    }

    &_linkedin {
      background: #007ebb;
    }
    &_instagram {
      background: radial-gradient(
          92.18% 99.11% at 26.56% 107.7%,
          #fd5 0%,
          #fd5 10%,
          #ff543e 50%,
          #c837ab 100%
        ),
        radial-gradient(
          182.61% 44.3% at -16.75% 7.2%,
          #3771c8 0%,
          #3771c8 12.8%,
          rgba(102, 0, 255, 0) 100%
        );
    }
    &_telegram {
      background: linear-gradient(0deg, #1d93d2 0%, #38b0e3 100%);
    }
    &_hh {
      background: #d71920;
    }
    &_habr {
      background: #629fbc;
    }
    &_github {
      background: #5c6bc0;
    }
  }

  &__arrow {
    align-self: flex-end;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &__img-wrapper {
    flex: 1;
  }

  &__img {
    height: calc(100% - var(--gap));
  }
}

@media (max-width: 1362.5px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 667.5px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
