footer.section
  div.footer
    a.footer__link.footer__link_linkedin(href="https://www.linkedin.com/in/sibvan/" target="_blank")
      div.footer__img-wrapper
        img.footer__img(src="/footer/linkedin.svg" alt="LinkedIn")
      div.icon-arrow.footer__arrow
    a.footer__link.footer__link_instagram(href="https://www.instagram.com/siberian_vanya/" target="_blank")
      div.footer__img-wrapper
        img.footer__img(src="/footer/instagram.svg" alt="Instagram")
      div.icon-arrow.footer__arrow
    a.footer__link.footer__link_telegram(href="https://t.me/siberian_vanya" target="_blank")
      div.footer__img-wrapper
        img.footer__img(src="/footer/telegram.svg" alt="Telegram")
      div.icon-arrow.footer__arrow
    a.footer__link.footer__link_hh(href="https://hh.ru/resume/a915d232ff0f1102890039ed1f4d346c61736b" target="_blank")
      div.footer__img-wrapper
        img.footer__img(src="/footer/hh.svg" alt="HeadHunter")
      div.icon-arrow.footer__arrow
    a.footer__link.footer__link_habr(href="https://career.habr.com/sibvan" target="_blank")
      div.footer__img-wrapper
        img.footer__img(src="/footer/habr.svg" alt="Habr")
      div.icon-arrow.footer__arrow
    a.footer__link.footer__link_github(href="https://github.com/sibvan" target="_blank")
      div.footer__img-wrapper
        img.footer__img(src="/footer/github.svg" alt="GitHub") 
      div.icon-arrow.footer__arrow