.stack {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap);
  grid-auto-rows: 1fr;

  &__item {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: span 1;
    grid-row: span 1;
    overflow: hidden;

    &:first-child {
      position: relative;
      grid-column: span 3;
      grid-row: span 1;
      aspect-ratio: unset;
      align-items: flex-start;
    }

    &:nth-child(5),
    &:nth-child(20n) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:nth-child(6),
    &:nth-child(21n) {
      grid-column: span 2;
      grid-row: span 1;
      aspect-ratio: unset;
    }

    &:nth-child(12),
    &:nth-child(27n) {
      grid-column: span 3;
      grid-row: span 2;
      aspect-ratio: unset;
    }

    &:nth-child(15n) {
      grid-column: span 2;
      grid-row: span 1;
      aspect-ratio: unset;
    }
  }

  &__img-wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: calc((100% + 16px) / 3);
  }

  &__item-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

@media (max-width: 667.5px) {
  .stack {
    &__item {
      padding: 0;
    }

    &__item-title {
      display: none;
    }

    &__subtitle {
      display: none;
    }

    &__title {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
