section.section
  ul.stack
    li.stack__item.card
      h2.section__title.stack__title Стек
      //- p.stack__subtitle.section__subtitle Изучу новое под задачу
      p.stack__subtitle.section__subtitle Новый текст
    - var n = 8;
    while n > 0
      li.stack__item.stack__item_placeholder.card.card_placeholder
      - n--