@use 'vars' as var;
@use 'animations';

.about-me {

    &__strs {
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__str {
        white-space: nowrap;
    }

    &__code {
        color: #fff;
        line-height: 145%;
        font-size: var.$code-font-size;

        &_num {
            opacity: 0.2;

            &::after {
                content: '  ';
                white-space: pre;
            }
        }

        &_const {
            color: #C678DD;

            &::after {
                content: ' ';
            }
        }

        &_about-me {
            opacity: .8;

            &::after {
                content: ' ';
            }
        }

        &_blue {
            color: #61AFEF;

            &::after {
                content: ' ';
            }
        }

        &_red {
            color: #FF5D5D;

            &::before {
                content: '  ';
                white-space: pre;
            }
        }

        &_orange {
            color: #D19A66;
        }

        &_green {
            color: #98C379;
        }

        &_symbol {
            opacity: .5;

            &::after {
                content: ' ';
            }
        }


        &_cursor {
            animation-name: blink-cursor;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
        }
    }



    &__h2 {
        margin-bottom: 32px;
    }


}