@use 'vars' as var;

.hero {
    padding-top: max(calc(100dvh - var.$h-font-size * 2 - 24px - 16px), 118.5px);
    display: flex;
    gap: 166.5px;

    &__text {
        color: #FFF;
        font-size: var(--main-text-font-size);
        line-height: 145%;
        opacity: 0.8;
    }

    &__title {
        position: relative;
    }


    &__photo {
        position: absolute;
        width: calc(var.$h-font-size * 0.8);
        height: calc(var.$h-font-size * 0.8);
        background: url('./img/me.png') no-repeat center / cover;
        left: calc(var.$h-font-size * 0.65);
        top: calc(var.$h-font-size + var.$h-font-size / 10);
    }

}



@media (max-width: var.$tablet-h) {
    .hero {
        gap: 24px;
    }
}



@media (max-width: var.$tablet-v) {
    .hero {
        flex-direction: column;
    }


}




@media (max-width: var.$phone-v) {
    .hero {
        padding-top: max(calc(100dvh - var.$h-font-size * 2 - 68px - 12px - 12px), 118.5px);

        &__photo {
            position: static;
            width: calc(var.$h-font-size * 2);
            height: calc(var.$h-font-size * 2);
            transform: scaleX(-1);
        }

        &__title {
            display: flex;
            justify-content: space-between;
        }
    }



}