$h-font-size: min(calc((100vw - 24px) / 7.8), calc((1710px - 24px) / 7.8));;
$code-font-size: min(max(16px, calc((100vw - 24px) / 39.3)), max(16px, calc((1710px - 24px) / 39.3)));
$tools-font-size: min(calc((100vw - 24px) / 18.3), calc((1710px - 24px) / 18.3));






$tablet-h: 1367px;
$tablet-v: 896px;
$phone-h: 668px;
$phone-v: 444px;



