section.section
  div.projects
    a.projects__item.card(href="https://github.com/sibvan" target="_blank") 
      h2.section__title Проекты
      div.projects__btm
        p.projects__git-text Перейти<br>на GitHub
        div.icon-arrow.projects__arrow
    - var n = 2;
    while n > 0
      div.projects__item.projects__item_placeholder.card.card_placeholder
      - n--